<div class="containter">

  <ul>
    <li>
    <input autofocus id="your-name" type="text" placeholder=" your name"></form>
    </li>
    <li>
      <button class="click">see yourself<form class="bam"> </button>
    </li>
    <li>
      <div class="name">
      </div>
    </li>
    <li>
      <video autoplay></video>
    </li>
  </ul>

</div>

<script id="your-name" type="text/x-handlebars-template">
  {{name}}
</script>
