<div class="containter">

  <ul>
    <li>
      <button class="click"><form class="bam"> <input autofocus id="your-name" type="text" placeholder=" your name"></form></button>
    </li>
    <li>
      <div class="name">
      </div>
    </li>
    <li>
      <video autoplay></video>
    </li>
  </ul>

</div>

<script id="your-name" type="text/x-handlebars-template">
  {{name}}
</script>
