<div class="container">

  <ul>
    <li>
      <form class="your-name">
        <input autofocus type="text" placeholder=" your name"></form>
      </li>
      <li>
        <button class="click">see yourself</button>
      </li>
      <li>
        <div class="name">
        </div>
      </li>
      <li>
        <div class="your-video">
        </div>
        <div class="handle-it">
        </div>
        <video autoplay></video>
      </li>
    </ul>

  </div>

  <script id="your-name" type="text/x-handlebars-template">
  {{name}}
  </script>
