<div class="containter">

  <ul>
    <li>
      <button class="click"><input autofocus type="text" placeholder=" your name"></button>
    </li>
    <li>
      <div class="name">
      </div>
      <p id="your_name">bah</p>
    </li>
    <li>
      <video autoplay></video>
    </li>
  </ul>

</div>

<script id="your-name" type="text/x-handlebars-template">
  {{gila}}
</script>
