<div class="container">

  <script id="your-name" type="text/x-handlebars-template">
    not too much going on yet.

  <ul>
    <li>
      <button class="click">click here to see you.</button>
    </li>
    <li>
      <p id="your_name">{{your-name}}</p>
    </li>
    <li>
      <video autoplay></video>
    </li>
  </ul>

  </script>

</div>