<div>

  <ul>
    <li>
      <button class="click">click here to see you.</button>
    </li>
    <li>
      <p id="your_name">your name.</p>
    </li>
    <li>
      <video autoplay></video>
    </li>
  </ul>
</div>