html {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

nav {
  position: relative;
  height: 25px;
}

h1 {
  margin-left: 1em;
}

video {
  width: 640px;
  height: 480px;
  background: rgba(255,255,255,0.5);
/*  think need compass/SASS for this to work
  filter: grayscale(1);*/
  overflow: hidden;
  z-index: 3;
  position: absolute;
  margin-top: 1em;
  margin-left: 1em;
  transform: translateX(5em) translateY(1em) matrix(-1, -0.05, .2, 1, 0, 0);
  -webkit-transform: translateX(5em) translateY(1em) matrix(-1, -0.05, .2, 1, 0, 0);
}

div.your-video {
  position: absolute;
  width: 640px;
  height: 480px;
  border: 1em solid gold;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  overflow: hidden;
  z-index: 10;
  transform: translateX(5em) translateY(1em) matrix(-1, -0.05, .2, 1, 0, 0);
  -webkit-transform: translateX(5em) translateY(1em) matrix(-1, -0.05, .2, 1, 0, 0);
}

div.my-border {
  position: absolute;
  width: 640px;
  height: 480px;
  border: 1em solid pink;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  overflow: hidden;
  z-index: 0;
  transform: translateX(5em) translateY(1em) matrix(1, -0.05, -.2, 1, 0, 0);
  -webkit-transform: translateX(5em) translateY(1em) matrix(1, -0.05, -.2, 1, 0, 0);
}

p {
  position: absolute;
}

ul {
  position: absolute;
  width: 70%;
  height: 100%;
  padding: 1em;
}

input,
button {
  border: .1em solid;
  border-radius: 1em;
  outline: none;
  background-color: white;
}

input {
  padding: .25em;
}

button:hover {
  cursor: pointer;
}

div.container {
  position: absolute;
  width: 800px;
  height: 700px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  border: .1em solid;
  border-radius: 2em;
}
