<!DOCTYPE html>
<html>
<head>
  <title>GetUserMedia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
